.SignUp,.LogIn{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 80vh;
    font-size: 16px;
    .LogIn-background{
        // width: 80%;
        background-color: $color1;
        padding: 40px 60px 30px 60px;
    }
    input{
        border: none;
        border-bottom: .75px solid $color5;
        background-color: transparent;
        font-family: $font-base;
        font-size: 18px;
        margin-bottom: 30px ;
    }
    .LogIn-bottomRow{
        margin-top: 40px;
        font-size: 18px;
        font-weight: lighter;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div:last-child{
            border: .75px solid $color5;
            padding: 14px;
        }
    }
}