.sectionTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 38px;
    
    .sectionTitleImg{
        margin-top: 25px;
        margin-bottom: 65px;
        width: 253px;
        height: 33px;
        background-image: url("../../assets/Decoration.svg");
        background-repeat: no-repeat;
    }

}