.HomeContactForm{
    height: 100vh;
    background-image: url(../../assets/Background-Contact-Form.jpg);
    background-repeat: no-repeat;
    opacity: 1;
    background-position: left;
    background-size: cover;
    display: flex;
    .HomeContactForm-baner{
        width: 60%;
    }
    .HomeContactForm-secondHalf{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}